<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Information</h3>
    <p style="text-indent:25px">
       Hai <b>{{host}},</b> someone is coming to visit you at this time. 
    </p>
    <b>Details:</b>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{visitor}}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{mail}}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{mobile}}</td>
        </tr>
    </table>
</body>
</html>